
    nav#mobile {
        background-color: #FFF;
        display:block;
    }
 
    /*
    Top black bar that holds the toggle button
    */
 
    nav#mobile #toggle-bar {
        line-height:46px;
        height:46px;
        background-color: #F68D5D;
    }
 
    /*
    Toggle button #1 ("Menu")
    */
 
    nav#mobile strong a {
        margin-left: 1em;
        border: none;
        padding: 10px;
        color: #fff;
        font-family: 'open sans regular';
        font-size: 1.1em;
        font-weight: normal;
    }
 
    /*
    Toggle button #2 ("Navicon")
    */
 
    nav#mobile .navicon {
        float: right;
        height: 6px;
        width: 34px;
        margin: 10px;
        border-top: 18px double #FFF;
        border-bottom: 6px solid #FFF;
        font-size:0;
    }

    a.navicon:before {
        content: "a";
        color: #fff;
    }
 
    /*
    The dropdown menu
    */

    #mmenu {
        width: 100%;
    }

    nav#mobile ul {
        margin: 0;
    }
 
    nav#mobile ul li {
        clear:both;
        list-style:none;
    }
 
    nav#mobile ul li a {
        display: block;
        font-size: 1.2em;
        background-color: #FFF;
        letter-spacing: .2em;
        font-family: 'open sans regular';
        font-weight: normal;
        color: #F15A54;
        border-color: #FFD2A8;
    }
 
    nav#mobile ul ul {
        font-size:small;
    }
 
    nav#mobile ul ul li {
        margin-left:30px;
    }
 
    nav#mobile ul ul a {
        background-color:#FFF;
        padding-left:8px;
    }
 
    nav#mobile ul ul a:before {
        font-family: 'fontawesome';
        content: "\F105";
        padding-right: 8px;
    }
